{% load static %}
<style>
  .carousel-inner{
    margin-top: 140px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 24px;
  }
</style>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" style="border-radius: 15px" src="/members/images/blog.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" style="border-radius: 15px" src="/members/images/2.png" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" style="border-radius: 15px" src="/members/images/3.png" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" style="border-radius: 15px" src="/members/images/4.png" alt="Fourth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" style="border-radius: 15px" src="/members/images/5.png" alt="Fifth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" style="border-radius: 15px" src="/members/images/6.png" alt="Sixth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" style="border-radius: 15px" src="/members/images/7.png" alt="Seventh slide">
      </div>
    </div>
    <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span> -->
    </a>
  </div>
